body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* form div {
  margin: 1em;
  display: inline-block;
} */
/*
 * CreateX | Multipurpose Bootstrap Theme
 * Copyright 2019 Createx Studio
 * Theme Styles
 */

.planet-mobile {
  position: absolute !important;
  top: 20%;
  left: 14%;
  width: 80px;
}
#team-pic-bigger {
  height: 130% !important;
}
.team-card-style-1 .team-thumb {
  height: auto !important;
}
.team-contact-link {
  font-size: 0.7em !important;
}
.about {
  margin-top: 3%;
}
.inquiries {
  margin-top: 3%;
}
.commercial-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  padding-top: 1.5rem;
}
.grid-item {
  flex: 1 !important;
  min-width: 250px;
  max-width: 250px;
  margin: auto !important;
}
.commercial-photo {
  height: 200px;
  width: 100%;
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
  background-size: cover;
}
#trans-margin {
  margin: 30px !important;
}
.d-table-cell {
  padding: 0 !important;
}
#slim-down {
  width: 50%;
  margin-left: 25%;
}
.chart-right {
  position: absolute;
  left: 35%;
  top: 20%;
}
/* .d-block {
  height: 200px;
  object-fit: cover;
} */
.d-block img {
  height: auto !important;
  width: 140px;
  padding: 0 !important;
}
.middle {
  text-align: center;
  align-content: center;
  max-width: 250px;
  margin: auto;
  object-fit: fill;
}
.middle img {
  width: 100% !important;
}
.navbar-wrapper {
  align-content: center;
  text-align: center;
}
.d-table-cell {
  text-align: center;
}
#navbar-me {
  background-color: transparent !important;
}
.owl-carousel-owl-loaded {
  display: block !important;
}
#no-margin-card {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100% !important;
}

.post-thumb img {
  object-fit: cover !important;
  min-height: 200px;

  height: 210px !important;
}
.owl-item {
  height: 100% !important;
}
#center-picture {
  display: flex;
  justify-content: center !important;
  width: 100%;
}
#center-image {
  margin: auto;
  width: 100%;
}
#centered-caro {
  margin: auto;
  height: 270px !important;
  object-fit: contain;
}
/* .owl-carousel {
  display: initial !important;
} */
.navbar-brand > img {
  max-width: 150%;
  width: 100%;
}
#wider-logo {
  width: 15%;
  min-width: 200px;
  padding: 0 !important;
}
#wider-a {
  width: 100%;
  margin-bottom: 0.75rem !important;
}
#more-padding {
  padding-right: 3em !important;
  padding-left: 3em !important;
}
#align-right {
  text-align: right;
  padding-right: 3em;
  padding-left: 3em;
}
/* .owl-carousel {
  display: block !important;
} */
#fill-image {
  background-size: cover;
  width: 100%;
}
#new-gradient {
  background: linear-gradient(to right, #ef5b5b 0%, lightblue 90%) !important;
}
#int-rates {
  position: fixed;
  bottom: -35px;
  z-index: 100;
}
.quotes {
  width: 200px !important;
}
#center-com {
  text-align: center;
}
#some-margin {
  margin-top: 2px !important;
}
#no-border {
  border-color: transparent;
}
#new-grad-blue {
  background: linear-gradient(
    to right,
    lightblue 0%,
    blue 20%,
    darkblue 100%
  ) !important;
}
#new-button {
  background-color: blue !important;
}
#small-disc {
  font-size: 5pt !important;
}
#carousel button {
  background-color: #fff !important;
}

#vert-align {
  margin-top: 5%;
}

h4:first-child {
  margin-top: 5.5% !important;
}
#no-padd {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
/* #pad-font {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
} */
#more-padding {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
#vert-align {
  margin-bottom: 10% !important;
}
#font-boi {
  font-family: Lato !important;
}
#no-border::after {
  background: linear-gradient(
    to right,
    lightblue 0%,
    blue 20%,
    darkblue 100%
  ) !important;
}
